@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f8fafc; /* Slate-50 */
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0f172a; /* Slate-900 */
  }
}
